<head>
  <title>Home library</title>
  <meta name="viewport" content="width=device-width,user-scalable=no">
</head>

<body>
  {{>top-bar}}
  <div id="main-pane">
    {{#if currentUser}}
      <div id="items-view">
        {{>pagination}}
        {{>books}}
      </div>
    {{else}}
      <hr>
      {{#if loggingIn}}
        <h3>Logging in...</h3>
      {{else}}
        <h3 id="sign-in-label">
          Sign in to gain access to the system
          <span id="login-arrow"></span>
        </h3>
      {{/if}}
    {{/if}}
    </div>
</body>

<template name="top-bar">
  <nav id="top-bar" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Sochka Library</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button id="search-btn"><span class="glyphicon glyphicon-search"></span></button>
        </form>
        <ul class="nav navbar-nav">
          <li><a href="#" id="add-book-button">Add new book</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Sort by {{current_sort_name}}<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              {{#each sort_options}}
                {{#if is_divider}}
                  <li class="divider"></li>
                {{else}}
                  <li><a href="{{url}}">{{option_name}}</a></li>
                {{/if}}
              {{/each}}
            </ul>
          </li>
        </ul>
        <div class="nav navbar-nav navbar-right navbar-form">
          <div id="login-panel">
            {{loginButtons align="right"}}
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>

<template name="books">
  {{!log "books template"}}
  <table id="data-table">
    <thead>
      {{>table-header}}
    </thead>
    <tbody>
    {{#each books}}
      {{!log this}}
      {{!log "displaying book"}}
      <tr>
        <td class="col-control">
          <div class="book-controls">
            <a href="#" class="remove-book-button"></a>
            <a href="#" class="edit-book-button"></a>
          </div>
        </td>
        {{#each values}}
          <td class="{{class}}">
            <span title="{{value}}">{{value}}</span>
          </td>
        {{/each}}
      </tr>
    {{/each}}
    </tbody>
    <tfoot>
      {{>table-header}}
    </tfoot>
  </table>
</template>

<template name="table-header">
  <tr>
    <th class="col-control"></th>
    {{#each columns}}
      <th class="{{class}}">
        <span title="{{title}}">{{title}}</span>
      </th>
    {{/each}}
  </tr>
</template>

<template name="pagination">
  {{!log "pagination template"}}
  <ul id="pagination">
    <li class="{{active_previous_class}}" id="previous-page">
      <a href="{{previous_page_url}}" title="Go to the previous page">
        ← Previous
      </a>
    </li>
    {{#each page}}
      <li class="{{active_class}}">
        <a href="{{page_url}}" class="page-number" title="Go to the page {{page_number}}">
          {{page_number}}
        </a>
      </li>
    {{/each}}
    <li class="{{active_next_class}}">
      <a href="{{next_page_url}}" id="next-page" title="Go to the next page">
        Next →
      </a>
    </li>
  </ul>
</template>

<template name="add-book-dialog">
  <form id="add-book-form" parsley-validate>
    {{{book-input-helper "Name" "required" id="input-book-name"}}}
    {{{book-input-helper "Author name" id="input-book-author-name"}}}
    {{{book-input-helper "Author surname" id="input-book-author-surname"}}}
    {{{book-input-helper "Language" "required" id="input-book-lang" list="lang-datalist"}}}
    {{{book-input-helper "Genre" "required" id="input-book-genre" value=default-genre list="genre-datalist"}}}
    {{{book-input-helper "Year" id="input-book-year" type="number" min="1850" max=max-year value=default-year}}}
    {{{book-input-helper "Note" id="input-book-note"}}}

    <datalist id="lang-datalist">
      {{#each lang-option}}
        <option value="{{option}}"></option>
      {{/each}}
    </datalist>

    <datalist id="genre-datalist">
      {{#each genre-option}}
        <option value="{{option}}"></option>
      {{/each}}
    </datalist>
  </form>
</template>
