<head>
  <title>Todos Modified</title>
</head>

<body>
  <div id="main-pane">
    {{> books}}
  </div>

  <div id="side-pane">
    {{!> lists}}
  </div>
</body>

<template name="books">
  <div id="items-view">
    {{#if loading}}
      Loading...
    {{else}}
      <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="data-table">
        <thead>
          <tr>
            <th>Назва</th>
            <th>Автор</th>
            <th>Мова</th>
            <th>Жанр</th>
            <th>Рік</th>
            <th>Примітки</th>
          </tr>
        </thead>
        {{#each books}}
          <tr>
            <td>{{name}}</td>
            <td>{{author_name}} {{author_surname}}</td>
            <td>{{lang}}</td>
            <td>{{genre}}</td>
            <td>{{year}}</td>
            <td>{{note}}</td>
          </tr>
        {{/each}}
        <tfoot>
          <tr>
            <th>Назва</th>
            <th>Автор</th>
            <th>Мова</th>
            <th>Жанр</th>
            <th>Рік</th>
            <th>Примітки</th>
          </tr>
        </tfoot>
      </table>
      {{> pagination}}
    {{/if}}
  </div>
</template>

<template name="pagination">
  <div class="pagination" id="pagination">
    <ul>
      <li class="{{active_previous_class}}" id="previous_page"><a href="#">← Previous</a></li>
      {{#each page}}
        <li class="{{active_class}}"><a href="#" class="page_number">{{page_number}}</a></li>
      {{/each}}
      <li class="{{active_next_class}}"><a href="#" id="next_page">Next →</a></li>
    </ul>
  </div>
</template>
