<head>
  <title>Home library</title>
</head>

<body>
  <div id="main-pane">
    {{> books}}
  </div>

  <div id="side-pane">

  </div>
</body>

<template name="books">
  <div id="items-view">
    {{!log "books template"}}
    {{> pagination}}
      <table id="data-table">
        <thead>
          <tr>
            {{#each columns}}
              <th class="{{class}}" title="{{title}}">{{title}}</th>
            {{/each}}
          </tr>
        </thead>
        <tbody>
        {{#each books}}
          {{!log this}}
          {{!log "displaying book"}}
          <tr>
            {{#each this}}
              <td class="{{class}}" title="{{value}}">{{value}}</td>
            {{/each}}
          </tr>
        {{/each}}
        </tbody>
        <tfoot>
          <tr>
            {{#each columns}}
              <th class="{{class}}" title="{{title}}">{{title}}</th>
            {{/each}}
          </tr>
        </tfoot>
      </table>
  </div>
</template>

<template name="pagination">
  {{!log "pagination template"}}
  <ul id="pagination">
    <li class="{{active_previous_class}}" id="previous-page"><a href="{{previous_page_url}}">← Previous</a></li>
    {{#each page}}
      <li class="{{active_class}}"><a href="/page/{{page_number}}" class="page-number">{{page_number}}</a></li>
    {{/each}}
    <li class="{{active_next_class}}"><a href="{{next_page_url}}" id="next-page">Next →</a></li>
  </ul>
</template>
