<head>
  <title>Home library</title>
</head>

<body>
  <div id="main-pane">
    {{> books}}
  </div>

  <div id="side-pane">

  </div>
</body>

<template name="books">
  <div id="items-view">
    {{#if loading}}
      Loading...
    {{else}}
      <table cellpadding="0" cellspacing="0" border="0" id="data-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Author</th>
            <th>Language</th>
            <th>Genre</th>
            <th>Year</th>
            <th>Notes</th>
          </tr>
        </thead>
        {{#each books}}
          <tr>
            <td>{{name}}</td>
            <td>{{author_name}} {{author_surname}}</td>
            <td>{{lang}}</td>
            <td>{{genre}}</td>
            <td>{{year}}</td>
            <td>{{note}}</td>
          </tr>
        {{/each}}
        <tfoot>
          <tr>
            <th>Name</th>
            <th>Author</th>
            <th>Language</th>
            <th>Genre</th>
            <th>Year</th>
            <th>Notes</th>
          </tr>
        </tfoot>
      </table>
      {{> pagination}}
    {{/if}}
  </div>
</template>

<template name="pagination">
  <ul id="pagination">
    <li class="{{active_previous_class}}" id="previous_page"><a href="#">← Previous</a></li>
    {{#each page}}
    <li class="{{active_class}}"><a href="#" class="page_number">{{page_number}}</a></li>
    {{/each}}
    <li class="{{active_next_class}}"><a href="#" id="next_page">Next →</a></li>
  </ul>
</template>
