<head>
  <title>Home library</title>
</head>

<body>
  <div id="main-pane">
    {{> books}}
  </div>

  <div id="side-pane">

  </div>
</body>

<template name="books">
  <div id="items-view">
    {{> pagination}}
    {{#if loading}}
      Loading...
    {{else}}
      <table id="data-table">
        <thead>
          <tr>
            {{#each columns}}
              <th class="{{class}}" title="{{title}}">{{title}}</th>
            {{/each}}
          </tr>
        </thead>
        <tbody>
        {{#each books}}
          <tr>
            {{#each this}}
              <td class="{{class}}" title="{{value}}">{{value}}</td>
            {{/each}}
          </tr>
        {{/each}}
        </tbody>
        <tfoot>
          <tr>
            {{#each columns}}
              <th class="{{class}}" title="{{title}}">{{title}}</th>
            {{/each}}
          </tr>
        </tfoot>
      </table>
      {{> pagination}}
    {{/if}}
  </div>
</template>

<template name="pagination">
  <ul id="pagination">
    <li class="{{active_previous_class}}" id="previous-page"><a href="#">← Previous</a></li>
    {{#each page}}
      <li class="{{active_class}}"><a href="#" class="page-number">{{page_number}}</a></li>
    {{/each}}
    <li class="{{active_next_class}}"><a href="#" id="next-page">Next →</a></li>
  </ul>
</template>
